@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary-font-color: hsl(229, 6%, 66%);
    --secondary-font-color: hsl(234, 12%, 34%);
    --background-color-theme: hsl(0, 0%, 98%);

    --primary-font-weight: 600;
    --secondary-font-weight: 400;
    --tertiary-font-weight: 200;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background-color: var(--background-color-theme);
}

.container__text {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-align: center;
    color: var(--primary-font-color);
    width: 30%;
    padding: 20px;
    margin: 10px auto;
    box-sizing: border-box;
}

.container__text h1 {
    color: var(--primary-font-color);
    font-size: 1.9rem;
}

.container__text h2 {
    color: var(--secondary-font-color);
    font-weight: var(--primary-font-weight);
    font-size: 2rem;
    margin-bottom: 15px;
}

.container__cards {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.container__card__center {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 30px;
}

.container__card {
    height: 275px;
    width: 400px;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.425);
}

.container__card__color.supervisor {
    background-color: hsl(180, 62%, 55%);
    height: 5px;
}

.container__card__color.teambuilder {
    background-color: hsl(0, 78%, 62%);
    height: 5px;
}

.container__card__color.karma {
    background-color: hsl(34, 97%, 64%);
    height: 5px;
}

.container__card__color.calculator {
    background-color: hsl(212, 86%, 64%);
    height: 5px;
}

.container__card__content {
    padding: 30px;
}

.container__card__content h3 {
    color: var(--secondary-font-color);
    font-weight: var(--primary-font-weight);
    font-size: 1.5rem;
}

.container__card__content p {
    color: var(--primary-font-color);
    font-weight: var(--tertiary-font-weight);
    margin: 15px 0;
}

.container__card__icon {
    position: absolute;
    bottom: 40px;
    right: 40px;
}

.attribution {
     font-size: 11px; 
     margin: 10px;
     position: absolute;
     bottom: 10px;
}
.attribution a {
     color: hsl(228, 45%, 44%);
}

@media (max-width: 440px) {
    
    .container__text {
        width: 85%;
        margin: 80px auto;
        padding: 0px;
    }
    
    .container__text h1 {
        font-size: 1.5rem;
    }
    
    .container__text h2 {
        font-size: 1.5rem;
    }
    
    .container__cards {
        flex-direction: column;
    }

    .container__card__center {
        align-items: center;
    }

    .container__card {
        width: 85%;
    }
 }

 @media (max-width: 800px) {
    
    .container__text {
        width: 85%;
        margin: 80px auto;
        padding: 0px;
    }
    
    .container__text h1 {
        font-size: 1.5rem;
    }
    
    .container__text h2 {
        font-size: 1.5rem;
    }
    
    .container__cards {
        flex-direction: column;
    }

    .container__card__center {
        align-items: center;
    }

    .attribution {
        position: inherit;
   }
 }